/* paginas */
body {
  text-align: center;
  /* font-size: 14px; */
  /* background-image: url('../imagem/Login.jpg'); */
  /* background: url(https://zoeweb.com.br/wp-content/uploads/2017/03/7-dicas-para-fazer-reunioes-corporativas-mais-produtivas.jpeg); */
  /* background-size:100vh; */
  background-color: rgb(228, 238, 228);
  
}



.background-contato-cetegoria{
  background:#d4ecc680;
  
}


.link-contato:hover{
  color:#017e8f;
}

.paginaForm__logging {  
  padding-top: 80px;   
  height: calc(100vh - 56px);
  background-image: url('../imagem/Entrar.jpg'); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.primeira__pag{
  padding-top: 20px;
  padding-bottom: 20px;
  height: calc(100vh - 26px);
  background-image: url('../imagem/Pri.jpg'); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}

.paginaForm__cadastro{
  padding-top: 20px;   
  height: calc(100vh - 56px);
  background-image: url('../imagem/Login.jpg'); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}
.paginaForm__cadastro--Alert{
  padding-top: 20px;
  padding-bottom: 20px;
  height: calc(100vh - 26px);
  background-image: url('../imagem/Login.jpg'); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}
.container__auth {
  max-width: 400px;
}

.definicao-pagina-home{
  padding: 65px 0px 0px 0px;
}

.definicao-pagina-contato{
  padding: 65px 0 0;
  overflow: auto;
}





/* formularios */
.form-signin {
  padding: 11px;
  margin: 0 auto;
  background-color: #eeeeee9e;
  border: 3px solid rgba(116, 116, 116, 0.534);
  
}
.form-terms {
  max-width: 630px;
  padding: 15px;
  margin: 0 auto;
}
  .needs-validation {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .contato-needs-validation {
    /* max-width: 1200px; */
    padding: 20px;
    margin: 10px 10px 5px 10px;
    background-color: #919fc742;
    border: 3px solid rgba(12, 26, 80, 0.38);
  }
  .contato-view {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    background-color: #a7a2a2;
    border: 3px solid rgba(116, 116, 116, 0.534);
  }
  
  .contato-containers{
    max-width: 900px;
    max-height: 50px;
    min-height: 10px;
    padding: 0px 5px 0px 5px;
    margin: 0px 0px 0px 100px;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgba(116, 116, 116, 0.534);
  }
  
  .contato-row{
    max-height:43px;
    padding: 0px 0 0 ;
    margin: 0 auto;
  }


  .contato-link{
    padding: 0px 0 0 0;
  }

  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-group--no-bottom {
    margin-bottom: 0;
  }

  .form-group--no-top {
    margin-top: 0;
  }
  .form-group--no-top {
    margin-top: 0;
  }

  
  /* botao */
  .texto-branco-botao{
    color: white;
  }
  .texto-branco-botao:hover
  {
    color: rgba(204, 202, 202, 0.801);
  }

  .espaco-botao{
    margin-right: 2px;
  }
  /* .row-sem-margem{
    margin-right: 0px;
    margin-left: 0px;
  } */

  
  .ul-contato{
    margin-top: 0px;
    margin-bottom: 0px;
    max-height: 43px;
  }

.btn-right{
  border-radius: 0rem;
  min-width: 35px;
  max-width: 35px;
}

.no-padding{
  padding: 0px 5px 5px 0px;
}

.nobtomMar{
  margin-bottom: 0px;
}

.textCenter{
  text-align: center;
}

.btn-primary{
  background-color: #2c5b8e;
}




  .fc-event-tid-1 a {
    color: #fff;
    background-color: #ff4500;
  }
