.background-contatos{
    background:#9fbdc16e;
  }
  .background-emails{
    background:#cfc3f1ba;
  }
  .background-tels{
    background:#fb8c8c59;
  }
  .background-cpfs {
    background:#cefb8cba;
  }
  .background-endereco {
    background:#8cfbc5ba;
  }
  .background-evento {
    background:#8cc5fb54;
  }
  .link-contato{
    color:#02049a;
    font-size: 22px;
  }
  .btn-danger-tabela{
    color: #fff;
    background-color: #961522;
    border-color: #fd0303;
  }